/* CSS Document */

/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Julee&family=Special+Elite&display=swap');
* {
	border: 0;
	margin: 0;
	padding: 0;
}

nav a:hover {
  color: red;
}

body {
	background-color: #252422;
}

nav {
	width: 100%;
	padding: 2% 0;
	font-family: 'Julee', cursive;
}

nav li {
	margin: 6.5%;
	text-align: center;
	display: inline;
}

nav a {
	text-decoration: none;
	font-size: 2vw;
	color: #eb5e28;
}

header nav {
	background-color: #403d39;
	text-align: center;
}

#calender {
	display: grid;
	width: 45%;
	grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
	float: right;
}

#calender figure {
	background-color: #eb5e28;
	outline: #252422 solid .2vw;
}

.num {
	padding: 5% 40% 40% 5%;
}

.day figcaption {
	text-align: center;
	font-size: 1.1vw;
	margin: 5% 0;
}

footer {
	margin-top: 50%;
}